---
title: Stuver
head: "<meta http-equiv=\"refresh\" content=\"0;URL='https://gentsestudentenraad.be'\"/>"
---
Ga naar <a href="https://gentsestudentenraad.be">de website van de Gentse Studentenraad</a>.
