<nav>
  <img src="/assets/OmdatHetDurfDoenLogoSuckt.png" alt="">
  <ul>
    <% for i in navigables %>
      <li><%= link_to(i[:naam], i, class: "nav_link") %></li>
    <% end %>
    <script>
      const nav_links = document.querySelectorAll(".nav_link");
      nav_links.forEach(nav_link => {
        if (nav_link.getAttribute("href") === window.location.pathname) {
          nav_link.classList.add("active_link");
        }
      })
    </script>

  </ul>
  <div>
    <input type="search" placeholder="Zoek vereniging, convent …">
  </div>
</nav>
