<%= render '/partials/navbar.*' %>

<main>
  <div class="main_content">
    <%= yield %>
  </div>
<footer class="align">
  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
  <p>©2020 Gentse studentenraad</p>
  <div lang="en">
    <p>Made with ♥ by <a href="https://zeus.gent">Zeus WPI</a></p>
  </div>
</footer>
</main>
