<html>
    <head>
        <title> Durf Doen! - <%= item[:naam] || item.identifier.without_ext.split('/').last %> </title>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" href="/assets/favicon.png">
        <%= item[:head] %>
    </head>
    <body>
        <%= render '/partials/navbar.*' %>
        <%= yield %>
    </body>
</html>
