<header class="align homepage">
  <%= render '/partials/navbar.*' %>
</header>
<div class="align large">
<%= yield %>
</div>
<footer class="align">
  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
  <p>©2020 Gentse studentenraad</p>
  <div lang="en">
    <p>Made with ♥ by <a href="https://zeus.gent">Zeus WPI</a></p>
  </div>
</footer>
