<h2> <%= item[:naam] %> </h2>
<p> georganiseerd door: <%= item[:organiser] %></p>
<div class="details-wrapper">
    <div class="details-container details-text">
        <%= yield %>
    </div>
    <%= render '/partials/detail.*' %>
</div>
