<div class="content-wrapper">
<h1> <%= item[:naam] %> </h1>
<p> georganiseerd door: <%= item[:organiser] %></p>
<div class="details-wrapper">
    <div class="details-container details-text">
        <%= yield %>
    </div>
    <%= render '/partials/detail.*' %>
</div>
</div>