<div>
<h2>FAQ — Vaakgestelde vragen</h2>
<% @items.find_all("/"+item[:lang]+'/faq/*').each do |question| %>
  <details>
    <summary>
      <%= question[:vraag] %>
    </summary>
    <p>
      <%= question.compiled_content %>
    </p>
  </details>
<% end %>
<p>Geen antwoord gevonden op jouw vraag? <a href="mailto:durfdoen@gentsestudentenraad.be?Subject=Vraag Durf Doen">Contacteer ons!</a></p>
</div>
