<style>
    .main_content {
        padding: 0;
    }
</style>
<img src="/assets/placeholder.png" class="header_photo backgroundSquare"></div>
<div class="beforeTheFold">
  <article class="align">
    <div class="quizSpotlight">
      <a href="/nl">Nederlands</a>
    </div>
    <div class="quizSpotlight">
      <a href="/en">English</a>
    </div>
  </article>

  <div class="shade"></div>
</div>