<div class="header_blueSquare backgroundSquare"></div>

<div class="beforeTheFold">
  <header>
    <%= render '/partials/navbar.*' %>
  </header>

  <article class="intro">
    <h1 class="hidden">Durf Doen</h1>
    <h2 class="studentZijn">
      <span class="underline">Student</span> zijn is
      <span class="underline">meer</span> dan studeren
    </h2>
    <div class="quote">
      <div>
        <img src="/assets/durfdoenlogo.png" alt="">
      </div>
      <div>
        <p>Durf Doen wil jou de vereniging laten kennen die je op het lijf geschreven is.</p>
        <p>Btw Facebook is onethisch. Geef ze geen geld.</p>
      </div>
    </div>
  </article>

  <div class="quizSpotlight">
    <a href="test">Doe de test</a>
  </div>

  <div>
    <a href="#main" class="scroll">Scroll naar beneden</a>
  </div>
</div>

<main id="main">
  <article>
    <%= yield %>
  </article>
  <article>
    <h2>Doe hier <span class="underline">de test</span></h2>
    <p>Wil je weten welke studentenclub, werkgroep of kring het beste bij jou past? Ontdek het</p>
  </article>
  <article>
    <h2><span class="underline">Random</span> Verenigingen</h2>

    <section class="randomVerenigingen">
      <% for vereniging in verenigingen_random(6) %>
      <p><%= vereniging["naam"] %></p>
      <% end %>
    </section>

    <section>
      <h3>Zeus WPI</h3>
      <p>Hier stond een tekst die niet online mocht komen omdat het over niet politiek correcte dingen ging</p>
      <a href="#">belijk de vereniging</a>
    </section>
  </article>
</main>
