
<script>
    const _save_answers = {};

    function save_answers(vers) {
        for (let ver of vers) {
            if (_save_answers[ver]) {
                _save_answers[ver] += 1;
            } else {
                _save_answers[ver] = 1;
            }
        }
    }

    function del_answers(vers) {
        for (let ver of vers) {
            _save_answers[ver] -= 1;
        }

    }

    function print_answers() {
        console.log(_save_answers);
    }

  function getSelectValues(select) {
    var result = [];
    var options = select && select.options;
    var opt;

    for (var i=0, iLen=options.length; i<iLen; i++) {
        opt = options[i];

        if (opt.selected) {
        result.push(opt.value || opt.text);
        }
    }
    return result;
    }
</script>

<% @items.find_all("/quiz/*").each_with_index do |quest, i| %>
    <div id="question_<%=i%>" class="question">
        <%= render '/partials/question.*', question: quest %>
    </div>
<% end %>
<%= yield %>
