<h1>Hallo</h1>
<% @items.find_all("/quiz/*").each_with_index do |quest, i| %>
    <div id="question_<%=i%>" class="question">
        <%= render '/partials/question.*', question: quest %>
    </div>

<% end %>
<%= yield %>
