<h2> <%= item[:naam] %> </h2>
<div class="details-wrapper">
  <div class="details-container details-text">
    <%= yield %>
  </div>
  <% verenigingen_voor_thema(item[:naam]).each do |ver| %>
    <%= render '/partials/pretty_link.*', :item => ver %>
  <% end %>
</div>
