<h2> <%= item[:naam] %> </h2>
<div class="details-wrapper">
  <div class="details-container details-text">
    <%= yield %>
  </div>
  <div class="fancy_link_container">
    <% verenigingen_voor_thema(item[:naam]).each do |ver| %>
      <%= render '/partials/pretty_link.*', :item => ver %>
    <% end %>
  </div>
</div>
