<h1> Themas </h1>
<ul>
    <% for theme in themes %>
        <li> <%= link_to(theme, "/thema/"++theme.tr(" ", "_")) %>  </li>
    <% end %>
</ul>

<h1> Konventen en projecten </h1>
<ul>
    <% for konvent in konvents %>
        <li> <%= link_to(konvent, "/thema/"++konvent.tr(" ", "_")) %>  </li>
    <% end %>
</ul>
