<h1>
Themas
</h1>
<ul>
    <% for vereniging in themes %>
        <li> <%= vereniging %> </li>
    <% end %>
</ul>
<h1>
Konventen en projecten
</h1>
<ul>
    <% for konvent in konvents %>
        <li> <%= konvent %> </li>
    <% end %>
</ul>
