<div class="flex-horz">
  <div class="horz-child">
    <h1> Thema's </h1>
    <ul>
      <% for thema in themas %>
        <%= image_tag thema %>
        <li> <%= link_to(thema[:naam], thema) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="horz-child">
    <h1> Konventen en projecten </h1>
    <ul>
      <% for item in konventen_and_projecten %>
        <%= render '/partials/pretty_link.*', :item => item %>
      <% end %>
    </ul>
  </div>
</div>

<style>
  .flex-horz {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }
  .horz-child {
    flex-basis: auto;
    flex-grow: 1;
  }
</style>
